body {
  font-family: sans-serif;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.win-text {
  display: none;
}

.ttt-board-container {
  width: 228px;
  padding: 0;
  margin: 0 auto;
}

.ttt-board {
  padding: 0;
  height: 230px;
  width: 231px;
}

ul {
  list-style: none;
  text-align: center;
}

.board-tile {
  display: inline-block;
  height: 71px;
  width: 74px;
  margin-right: 3px;
  background-color: #BEBEBE;
}

.tile-text {
  display: table-row;
  font-size: 63px;
  text-align: center;
  margin-left: 15px;
  position: absolute;
}

.board-tile:hover {
  background-color: green;
  cursor: pointer;
}
