.ttt-board {
  height: 300px;
  width: 300px;
}

ul {
  list-style: none;
}

.board-tile {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 5px solid black;
  margin: -2px;
  padding: 0;
  background-color: #BEBEBE;
}

.board-tile:hover {
  background-color: green;
  cursor: pointer;
}
